/* fonts...*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,100;1,400&display=swap');

/* Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
font-family: 'Poppins', sans-serif;
line-height: 1.6;
}

h1,
h2,
h3 {
    font-weight: 600;
}

a {
    text-decoration: none;
}

footer {
    text-align: center;
    background: #9967d6;
    color: #fff;
    padding: 1.25rem;
}

.container {
    max-width: 960px;
    overflow: auto;
    margin: auto;
    padding: 0 1.25rem;
}







