/* fonts...*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,100;1,400&display=swap');

/* Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
font-family: 'Poppins', sans-serif;
line-height: 1.6;
}

h1,
h2,
h3 {
    font-weight: 600;
}

a {
    text-decoration: none;
}


/* Navigations menu */
header img {
    height: 60px;
    float: left;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-top: 15px;
}

.login-container {
    float: right;
    padding : 0 10px 0 10px;
    
}



/*span{
    float: right;
    padding : 0 10px 0 10px;
}*/

nav{
    background: #9967d6;
    position: -webkit-sticky;
    top: 0;
    z-index: 0.5;
    opacity: 1;
}

nav a{
    color: #f4f4f4;
}

nav h1{
    float: left;
    padding-top: 15px;
}

nav ul {
    list-style: none;
    float: left;
}

nav li{
    float: left;
}

nav ul li a {
    display: flexbox;
    padding: 15px;
    text-align: center;
}

nav ul li a:hover,
nav ul li a.active{
    background: #5051a3;
    color: #ff1a1a;
}

.container {
    max-width: 1500px;
    overflow: auto;
    margin: auto;
    padding: 20px;
}

.page-title {
    color: #ffffff;
    font-size: 28px;
}

.clear {
    clear: both;
}


.bg-dark {
    background: #00796b;
    color: #fff;
    padding-left: 10%;
    padding-right: 10%;
}

.btn {
    display: inline-block;
    color: #fff;
    background: #000;
    padding: 8px 20px;
    border:none;
    cursor: pointer;
}

.btn-light{
    background: #d5d3d3;
    color: #00796b;
}
.btn:hover{
    background: #e65100;
    color: #00796b;
}

.box{
    float: left;
    width: 33.3%;
    padding: 40px;
    text-align: center;
}

.box i{
    margin-bottom: 15px;
}

.bg-light{
    background-color: #d5d3d3;
}

.bg-primary{
    background: #9b9bf6;
    color: #000000;
}


/* Main Content */
#main-content {
    background: #4aab9f url('/assets/images/landing.jpg') no-repeat center center/cover;
    height: 600px;
    padding-top: 150px;
    text-align: center;
}


#main-content .main-content-info {
    background: #00796b;
    color: #fff;
    padding: 10px;
    opacity: 0.8;
    border-radius: 9px;
}

#main-content .main-content-info h1 {
    line-height: 1.8;
    font-size: 50px;
}

#main-content .main-content-info p {
    padding-bottom: 10px;
}

/*Main info*/
#main-info{
    height: 600px;
}

#main-info .info-image {
    float: left;
    width: 50%;
    min-height: 100%;
    background: url('/assets/images/boy-g719e45694_1920.jpg') no-repeat center center/cover;
}

#main-info .info-content {
    float: right;
    width: 50%;
    height: 100%;
    text-align: center;
    padding: 50px 30px;
    overflow: hidden;
} 

#main-info .info-content p {
    padding-bottom: 20px;
}

/* Feature area */
#info .feature {
    float: left;
    width: 33.3%;
    padding: 50px;
    text-align: center;
}

#info .feature {
    margin-bottom: 10px;
}

/* About */
#about{
    padding: 20px;
    background: #ddd;
}

#about .about-left {
    float: left;
    width: 50%;
    min-height: 100%;
}

#about .about-right {
    float: right;
    width: 50%;
    min-height: 100%;
}

#about .about-right img{
    display: block;
    margin: auto;
    height: 250px;
    border: solid 1px #fffafa;
    background: #fff;
    padding: 2px;
}

/* testimonials */
#testimonials {
    height: 700px;
    background: #004d40;
    color: #fff;
    padding: 100px;
}

#testimonials h3{
    text-align: center;
    padding-bottom: 30px;
    font-size: 32px;
}

#testimonials div section{
    background: #00796b;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.6);
}

#testimonials div section img{
    display: block;
    height: 70px;
    float: left;
    margin-right: 20px;
    border-radius: 50%;
}

/* Contact page */
#contact-form {
    padding: 30px 0;
    padding-left: 10%;
    padding-right: 10%;
}

#contact-form .form-control {
    margin-bottom: 15px;
}

#contact-form label{
    display: block;
}

#contact-form input, 
#contact-form textarea {
    width: 100%;
    padding: 10px;
    border: solid 2px #ddd;
}

#contact-form textarea{
    height: 100px;

}

#contact-form input:focus,
#contact-form textarea:focus{
    outline: none !important;
    border: solid 1px #ef6c00;
}

/* Contact info */
#contact-info{
    background: #004d40;
    color: #f4f4f4;
}

/* Main footer */
#main-footer {
    text-align: center;
    background: #9967d6;
    color: #fff;
    padding: 20px;
}




